
@{
    ViewBag.Title = "Index";
}

<h2>Welcome Mr/Mrs @Session["Name"]</h2>
@{ 
    if(TempData["msg"] != null)
            {
                <span class="alert">@TempData["msg"]</span> <br />
            }
 }

<a href="Customer/Cart" class="btn btn-info">View Cart</a> <br />
<a href="Customer/OrderDetails" class="btn btn-info">View Order Details</a>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>
                <a href="Customer/AddToCart/@item.Id"
                   class="btn btn-success">Add to cart
                </a>
            </td>
        </tr>
    }
</table>

